# Data Analysis Assignment ARM

## Libraries and settings

In [ ]:
# Libraries
import os # for operating system interactions
import re # for regular expressions
import requests # for web API calls
import json # for JSON handling
import folium # for mapping
import fnmatch # for pattern matching
import datetime # for date and time operations
import pandas as pd # for data manipulation
import numpy as np # for numerical operations
import seaborn as sns # for statistical data visualization
import matplotlib.pyplot as plt # for plotting
import statsmodels.api as sm # for statistical modeling
import pylab as py # for plotting
from pandas import json_normalize # for normalizing JSON data

# seaborn graphics settings
sns.set(color_codes=True)

# Ignore warnings
import warnings
warnings.filterwarnings("ignore")

# Show current working directory
print(os.getcwd())

/workspaces/applied_research_methods/Assignment

## Overpass turbo query to get all available supermarkets in Switzerland

In [ ]:
# Overpass API URL
url = 'http://overpass-api.de/api/interpreter'

# Overpass turbo query
query = f"""
        [out:json];
        area["ISO3166-1"="CH"][admin_level=2];
        node ["shop"="supermarket"](area);
        out;"""

# Web API request
r = requests.get(url, params={'data': query})
data = r.json()['elements']

# Save data to file
with open('supermarkets.json', 'w') as json_file:
    json.dump(data, json_file)

# Store data in data frame
df = json_normalize(data)

# Number of rows and columns
print(df.shape)

# First rows
df.head()

(3469, 277)

,type,id,lat,lon,tags.addr:city,tags.addr:country,tags.addr:housenumber,tags.addr:postcode,tags.addr:street,tags.brand,...,tags.source:addr,tags.opening_date,tags.postid,tags.payment:account_cards,tags.diet:mediterranean,tags.diet:seafood,tags.recycling:low_energy_bulbs,tags.opening_hours:cafe,tags.name:zh-Hans,tags.panoramax
0,node,33126515,47.155616,9.037915,Schänis,CH,32,8718,Biltnerstrasse,Spar,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,node,36726161,47.226191,8.980329,Uznach,NaN,25,8730,Zürcherstrasse,Migros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,node,39768209,47.225154,8.969868,Uznach,NaN,NaN,8730,NaN,Coop,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,node,39947904,47.376732,8.542161,Zürich,CH,1,8001,Bahnhofbrücke,Coop,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,node,48932835,47.375020,8.522895,Zürich,NaN,7,8004,Wengistrasse,Migros,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

## Save data to file

In [ ]:
df.to_csv('./supermarkets.csv', 
          sep=",", 
          encoding='utf-8',
          index=False)

In [ ]:
import os
import platform
import socket
from platform import python_version
from datetime import datetime

print('-----------------------------------')
print(os.name.upper())
print(platform.system(), '|', platform.release())
print('Datetime:', datetime.now().strftime("%Y-%m-%d %H:%M:%S"))
print('Python Version:', python_version())
print('-----------------------------------')

-----------------------------------
POSIX
Linux | 6.8.0-1030-azure
Datetime: 2025-11-21 15:41:07
Python Version: 3.11.14
-----------------------------------